@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    font-family: "Gabarito", sans-serif;
}

h1, h2, h3 {
    font-family: "Gabarito", sans-serif;
}

html {
    font-size: 100%;
    background-color: #212121;
}

@theme {
    --color-text: #ffffff;
    --color-background: #212121;
    --color-primary: #655df8;
    --color-secondary: #bfc0c0;
    --color-accent: #004ec2;
    --color-beige: #F0EBE3;
}

@layer base {
    h2 {
      @apply text-[40px] leading-[44px] font-[600] text-gray-900;
    }
  }
  

/* Hamburger Animation */
button.open span:nth-child(1),
button.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

button.open span:nth-child(2) {
  transform: rotate(45deg);
}

button.open span:nth-child(3) {
  transform: rotate(-45deg);
}

button.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}